.header
  %h2.title= t("query_generator.wizard.conditions.title")
  .information= t("query_generator.wizard.conditions.description")

.content
  %table
    %thead
      %tr
        - query_generator_session.used_columns.each do |qc|
          %th
            = qc.model.human_name
            %br
            = qc.column_name

.buttons
  = previous_step_button t("query_generator.wizard.conditions.button_prev"), 3

  .clear