-# Create form to submit the main model. Prevent submitting if no model was chosen yet
- form_tag set_main_model_generated_queries_path,
           :before => %{if (jQuery("input[name=model]:checked").size() < 1) return false;},
           :remote => true,
           :html => {:id => "generated_query_main_model_form"} do
  %table
    %thead
      %tr
        %th
        %th= t("query_generator.misc.model")
        %th= t("query_generator.misc.associations")
        %th= t("query_generator.misc.actions")

    - dh.models.each do |model|
      %tr{:class => cycle("odd", "even")}
        %td= radio_button_tag "model", model.to_s, query_generator_session.main_model == model, :id => model_dom_id(model, :prefix => "main")
        %td= label_tag model_dom_id(model, :prefix => "main"), human_model_name(model)
        %td= dh.linkage_graph.get_node(model).connected_models.map {|m| human_model_name(m) if ccan?(:read, m)}.compact.to_sentence
        %td= link_to_remote("Preview", :url => preview_model_records_generated_queries_path(:model => model.to_s), :method => :get)