- if query_generator_session.generated_query.output_columns.size > 0
  - options ||= {}

  = link_to_function "Multi Line", "queryGenerator.setProgressView('multi_line')"
  = link_to_function "SQL", "queryGenerator.setProgressView('sql')"

  .progress-view.multi_line
    %pre
      = pretty_print_generated_query(query_generator_session.generated_query)
  .progress-view.sql{:style => "display: none"}
    = query_generator_session.generated_query.sql_lines.join("<br />")

  :javascript
    queryGenerator.setProgressView("#{query_generator_session.progress_view}", false);