#query-generator
  #query-generator-header
    %h2
      = human_model_name(QueryGenerator::GeneratedQuery)
      = @generated_query.name
      %br
      =# @generated_query.sql_lines.join("<br />")

    #flash= flash_messages
  #query-generator-content
    = render :partial => "output"
  #query-generator-footer

:javascript
  queryGenerator.urls.fetchQueryRecords = "#{query_generator_generated_query_path(@generated_query.id)}";
  queryGenerator.createOutputTable("#generated_query_output", #{@generated_query.table_js.to_json})