#query-generator
  #query-generator-header
    %h2
      =# human_model_name(QueryGenerator::GeneratedQuery)
      = link_to "Queries", query_generator_generated_queries_path
      &raquo;
      = @generated_query.name

    #flash= flash_messages
  #query-generator-content
    - if @generated_query.conditions_with_variables?
      This Query contains variables which have to be set. If this isn't done, the conditions won't be included.
    = render :partial => "output"
  #query-generator-footer
    .progress= render :partial => "generated_sql", :locals => {:generated_query => @generated_query}

:javascript
  queryGenerator.urls.fetchQueryRecords = "#{query_generator_generated_query_path(@generated_query.id)}";
  queryGenerator.createOutputTable("#generated_query_output", #{@generated_query.table_js.to_json})