#query-generator
  #query-generator-header= render_wizard_partial(@wizard_step, "header")
  #query-generator-content= render_wizard_partial(@wizard_step, "content")
  #query-generator-footer= render_wizard_partial(@wizard_step, "footer")

  / Content for the model records preview dialog
  #model-records-preview{:style => "display: none"}

  .ajax-indicator{:style => "display: none"} Loading...

:javascript
  queryGenerator.init();

  queryGenerator.urls.updateOffset = "#{set_model_offset_query_generator_generated_queries_path}";
  #{set_security_token}