#query-generator
  #query-generator-header= render_wizard_partial(@wizard_step, "header")
  #query-generator-content= render_wizard_partial(@wizard_step, "content")
  #query-generator-footer= render_wizard_partial(@wizard_step, "footer")

  .ajax-indicator{:style => "display: none"} Loading...

  / Content for the modal dialog to edit column conditions
  / Has to be in the wrapper file as the content might be replaced with
  / another partial
  #model-column-conditions{:style => "display: none"}

:javascript
  jQuery(document).ready(function() {
    queryGenerator.urls.updateProgressView = "#{set_progress_view_query_generator_generated_queries_path}";
    queryGenerator.urls.updateOffset = "#{set_model_offset_query_generator_generated_queries_path}";
    queryGenerator.data.currentStep = #{query_generator_session.current_step};
    #{set_security_token}
    queryGenerator.init();
  });
