<div id="canvas" style="background-color: black"></div>
<ul>
  <% @dh.linkages.nodes.sort{|x,y| x.klass.to_s <=> y.klass.to_s}.each do |node| %>
    <li><%=  node.klass.to_s %></li>
  <% end %>
</ul>


Size: <%= @dh.linkages.nodes.size %>

<script type="text/javascript">
  var wheelData = new Array();
  var edges = null;

  <% @dh.linkages.nodes.each do |node| %>
    edges = new Array();

    <% node.edges.each do |end_point, options| %>
      edges.push('<%= end_point.downcase %>');
    <% end %>

    wheelData.push({id: '<%= node.klass.to_s.downcase %>', text: '<%= node.klass %>', connections: edges});
  <% end %>

  var wheel = new MooWheel(wheelData, $moo('canvas'), {radialMultiplier: 10});
</script>