<div id="canvas"></div>
<ul>
  <% @dh.linkages.nodes.sort{|x,y| x.klass.to_s <=> y.klass.to_s}.each do |node| %>
    <li><%=  node.klass.to_s %></li>
  <% end %>
</ul>

Size: <%= @dh.linkages.nodes.size %>

<script type="text/javascript">
  var g = new Graph();

  <% @dh.linkages.nodes.each do |node| %>
  g.addNode("<%= node.klass %>");
  <% node.edges.each do |end_point, options| %>
  g.addEdge("<%= node.klass %>", "<%= end_point %>", {directed: true, label: "<%= options[:name] %>"});
  <% end %>
  <% end %>


  /* layout the graph using the Spring layout implementation */
  var layouter = new Graph.Layout.Spring(g);

  /* draw the graph using the RaphaelJS draw implementation */
  var renderer = new Graph.Renderer.Raphael('canvas', g, 1500, 750);

  var redraw = function() {
    layouter.layout();
    renderer.draw();
  };

</script>

<button onclick="redraw()">Redraw!</button>