#query-generator.query-generator
  %ol
    %li{:name => "main-model"}
      %h2
        %span= t("query_generator.wizard.main_model.slide_caption")
      #step1.slide-content
        = render :partial => "main_model"
    %li{:name => "associations"}
      %h2
        %span= t("query_generator.wizard.associations.slide_caption")
      #step2.slide-content
        = render :partial => "associations"
    %li{:name => "values"}
      %h2
        %span= t("query_generator.wizard.values.slide_caption")
      #step3.slide-content
        asdf


  -##flash
  -##models
  -#  #accordion
  -#    - @dh.models.each do |model|
  -#      - next unless ccan? :read, model
  -#      %p= link_to_remote(model.human_name, :url => add_model_generated_queries_path(:model => model.to_s))
  -#
  -#


  / Content for the model records preview dialog
  #model-records-preview{:style => "display: none"}

:javascript
  queryGenerator.init();