#query-generator.query-generator
  #wizard
    %ol
      %li{:name => "main-model"}
        %h2
          %span= t("query_generator.wizard.main_model.slide_caption")
        #step1.slide-content
          = render :partial => "main_model"
      %li{:name => "associations"}
        %h2
          %span= t("query_generator.wizard.associations.slide_caption")
        #step2.slide-content
          = render :partial => "associations"
      %li{:name => "values"}
        %h2
          %span= t("query_generator.wizard.values.slide_caption")
        #step3.slide-content

  / Content for the model records preview dialog
  #model-records-preview{:style => "display: none"}

  /Progress / Preview
  #progress= render :partial => "progress"

:javascript
  queryGenerator.init();